body {
  direction: ltr;
  font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25em; 
  background-color: rgb(3, 3, 3);
}

header {
  padding: 2%; 
  box-shadow: 0 0 1%; 
}

nav {
  background-color: #151515;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

ul {
  list-style: none;
  margin-left: 4.5%;
  padding: 0;
  display: flex;
}

li {
  margin-right: 2em;
}

a {
  display: block;
  color: #fff;
  padding: 1em;
  text-decoration: none;
  font-size: 0.95em;
  font-weight: bold;
}

a:hover {
  background-color: #555;
}

#logo {
  position: fixed;
  top: 1%;
  right: 2.5%;
  z-index: 9999;
}

#logo img {
  width: 8vw; 
  height: auto;
}

main {
  margin-top: 6%; 
}

h1 {
  text-align: center;
  font-size: 2.8vw;
}

p {
  text-align: center;
  font-size: 1.8vw; 
}

.photo-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo-container .team-member {
  flex: 1;
  margin: 0 0.8vw 1.6vw; 
  text-align: center;
}

.photo-container img {
  width: 25vw;
  height: auto;
}

.photo-container h2,
.photo-container p {
  margin: 0.8vw 0; 
}

.history {
  margin-top: 2vw; 
}

.center {
  text-align: center;
  font-weight: bold;
  font-size: 2.8vw; 
}

.text_box {
  width: 60%;
  height: auto;
  padding: 1.6vw; 
  border: 0.16vw solid #e8e5e5; 
  box-sizing: content-box;
  text-align: center;
  margin: 2.4vw auto; 
  line-height: 1.5;
}

.text_box:first-child {
  border-color: #fff;
}

.logo-Hit {
  width: 30vw; 
  height: auto;
  text-align: center;
  margin: 0.8vw auto; 
}

footer {
  margin-top: 3.125em;
  background-color: #151515;
  color: #fff;
  padding: 1.25em;
  text-align: center;
}

.bottom_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25em;
}

.bottom_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom_menu ul li {
  display: inline-block;
  margin-right: 0.625em;
}

.bottom_menu ul li:last-child {
  margin-right: 0;
}

.bottom_menu ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.bottom_menu ul li a:hover {
  color: beige;
}

.ikons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625em;
}

.ikons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.625em;
}

.ikons a:last-child {
  margin-right: 0;
}

.ikons a i {
  font-size: 1.5em;
}




